:host {
  display: block;
}
nav {
  width: 300px;

  padding: 10px;
}
ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
