* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

body {
  min-height: 100dvh;
  background-color: var(--light-gray);
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}

:root {
  --gray: #e0e0e0;
  --light-gray: #fafafa;
}
